.Button {
    text-decoration: none;
    width: 25rem;
    border: 1px solid blue;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    background-color: cadetblue;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}