.UserCard {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: lightgoldenrodyellow;
    text-decoration: none;
    color: darkslategrey;
}